--
-- PostgreSQL database dump
--

\restrict XkqaPfeg3uEiUq2djZNJef8O89SKyehvQGi6CvSaToed8TqWrmr186VxBREBh3x

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: rrf_approvers_approval_level_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.rrf_approvers_approval_level_enum AS ENUM (
    'L1',
    'L2',
    'L3',
    'final'
);


ALTER TYPE public.rrf_approvers_approval_level_enum OWNER TO postgres;

--
-- Name: rrf_approvers_approval_status_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.rrf_approvers_approval_status_enum AS ENUM (
    'pending',
    'approved',
    'rejected',
    'skipped'
);


ALTER TYPE public.rrf_approvers_approval_status_enum OWNER TO postgres;

--
-- Name: rrfs_employment_type_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.rrfs_employment_type_enum AS ENUM (
    'Full-time',
    'Contract',
    'Part-time'
);


ALTER TYPE public.rrfs_employment_type_enum OWNER TO postgres;

--
-- Name: rrfs_priority_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.rrfs_priority_enum AS ENUM (
    'High',
    'Medium',
    'Low'
);


ALTER TYPE public.rrfs_priority_enum OWNER TO postgres;

--
-- Name: rrfs_requisition_type_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.rrfs_requisition_type_enum AS ENUM (
    'Billable',
    'Non-Billable'
);


ALTER TYPE public.rrfs_requisition_type_enum OWNER TO postgres;

--
-- Name: rrfs_status_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.rrfs_status_enum AS ENUM (
    'draft',
    'pending',
    'approved',
    'rejected',
    'on-hold',
    'closed'
);


ALTER TYPE public.rrfs_status_enum OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: modules; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.modules (
    id integer NOT NULL,
    module_name character varying(100) NOT NULL,
    module_code character varying(50) NOT NULL,
    description text,
    parent_module_id integer,
    route_path character varying(255),
    icon character varying(50),
    display_order integer DEFAULT 0 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.modules OWNER TO postgres;

--
-- Name: modules_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.modules_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.modules_id_seq OWNER TO postgres;

--
-- Name: modules_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.modules_id_seq OWNED BY public.modules.id;


--
-- Name: permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.permissions (
    id integer NOT NULL,
    module_id integer NOT NULL,
    permission_name character varying(100) NOT NULL,
    permission_code character varying(50) NOT NULL,
    description text,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.permissions OWNER TO postgres;

--
-- Name: permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.permissions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.permissions_id_seq OWNER TO postgres;

--
-- Name: permissions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.permissions_id_seq OWNED BY public.permissions.id;


--
-- Name: role_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.role_permissions (
    id integer NOT NULL,
    role_id integer NOT NULL,
    permission_id integer NOT NULL,
    granted_at timestamp without time zone DEFAULT now() NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.role_permissions OWNER TO postgres;

--
-- Name: role_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.role_permissions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.role_permissions_id_seq OWNER TO postgres;

--
-- Name: role_permissions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.role_permissions_id_seq OWNED BY public.role_permissions.id;


--
-- Name: roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.roles (
    id integer NOT NULL,
    role_name character varying(50) NOT NULL,
    role_code character varying(20) NOT NULL,
    description text,
    priority integer DEFAULT 0 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.roles OWNER TO postgres;

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.roles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.roles_id_seq OWNER TO postgres;

--
-- Name: roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.roles_id_seq OWNED BY public.roles.id;


--
-- Name: rrf_approvers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rrf_approvers (
    id integer NOT NULL,
    rrf_id integer NOT NULL,
    user_id integer NOT NULL,
    approval_level public.rrf_approvers_approval_level_enum NOT NULL,
    approval_status public.rrf_approvers_approval_status_enum DEFAULT 'pending'::public.rrf_approvers_approval_status_enum NOT NULL,
    approval_order integer DEFAULT 1 NOT NULL,
    comments text,
    approved_at timestamp without time zone,
    rejected_at timestamp without time zone,
    is_mandatory boolean DEFAULT true NOT NULL,
    assigned_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.rrf_approvers OWNER TO postgres;

--
-- Name: rrf_approvers_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.rrf_approvers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.rrf_approvers_id_seq OWNER TO postgres;

--
-- Name: rrf_approvers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.rrf_approvers_id_seq OWNED BY public.rrf_approvers.id;


--
-- Name: rrfs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rrfs (
    id integer NOT NULL,
    rrf_number character varying(20),
    position_title character varying(200) NOT NULL,
    department character varying(100) NOT NULL,
    project_name character varying(200),
    headcount integer DEFAULT 1 NOT NULL,
    priority public.rrfs_priority_enum DEFAULT 'Medium'::public.rrfs_priority_enum NOT NULL,
    status public.rrfs_status_enum DEFAULT 'draft'::public.rrfs_status_enum NOT NULL,
    job_description text,
    required_skills text,
    preferred_skills text,
    experience_min numeric(3,1),
    experience_max numeric(3,1),
    budget_min numeric(12,2),
    budget_max numeric(12,2),
    employment_type public.rrfs_employment_type_enum DEFAULT 'Full-time'::public.rrfs_employment_type_enum NOT NULL,
    location character varying(200),
    urgency_reason text,
    created_by_id integer NOT NULL,
    pmo_verified_by_id integer,
    assigned_to_hr_id integer,
    submitted_at timestamp without time zone,
    approved_at timestamp without time zone,
    rejected_at timestamp without time zone,
    closed_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    entity character varying(100),
    organisation character varying(100),
    requisition_type public.rrfs_requisition_type_enum,
    customer_name character varying(200),
    non_billable_sub_type character varying(50),
    function character varying(100),
    sub_function character varying(100),
    sub_id character varying(20)
);


ALTER TABLE public.rrfs OWNER TO postgres;

--
-- Name: rrfs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.rrfs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.rrfs_id_seq OWNER TO postgres;

--
-- Name: rrfs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.rrfs_id_seq OWNED BY public.rrfs.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    user_id character varying(50) NOT NULL,
    email character varying(100) NOT NULL,
    password_hash character varying(255) NOT NULL,
    full_name character varying(100) NOT NULL,
    department character varying(100),
    phone character varying(20),
    is_active boolean DEFAULT true NOT NULL,
    last_login timestamp without time zone,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    role_id integer
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: modules id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.modules ALTER COLUMN id SET DEFAULT nextval('public.modules_id_seq'::regclass);


--
-- Name: permissions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permissions ALTER COLUMN id SET DEFAULT nextval('public.permissions_id_seq'::regclass);


--
-- Name: role_permissions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role_permissions ALTER COLUMN id SET DEFAULT nextval('public.role_permissions_id_seq'::regclass);


--
-- Name: roles id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles ALTER COLUMN id SET DEFAULT nextval('public.roles_id_seq'::regclass);


--
-- Name: rrf_approvers id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rrf_approvers ALTER COLUMN id SET DEFAULT nextval('public.rrf_approvers_id_seq'::regclass);


--
-- Name: rrfs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rrfs ALTER COLUMN id SET DEFAULT nextval('public.rrfs_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: modules; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: role_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: rrf_approvers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.rrf_approvers (id, rrf_id, user_id, approval_level, approval_status, approval_order, comments, approved_at, rejected_at, is_mandatory, assigned_at, updated_at) FROM stdin;
\.


--
-- Data for Name: rrfs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: modules_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.modules_id_seq', 6, true);


--
-- Name: permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.permissions_id_seq', 16, true);


--
-- Name: role_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.role_permissions_id_seq', 34, true);


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.roles_id_seq', 5, true);


--
-- Name: rrf_approvers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.rrf_approvers_id_seq', 4, true);


--
-- Name: rrfs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.rrfs_id_seq', 15, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 5, true);


--
-- Name: modules PK_7dbefd488bd96c5bf31f0ce0c95; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.modules
    ADD CONSTRAINT "PK_7dbefd488bd96c5bf31f0ce0c95" PRIMARY KEY (id);


--
-- Name: role_permissions PK_84059017c90bfcb701b8fa42297; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT "PK_84059017c90bfcb701b8fa42297" PRIMARY KEY (id);


--
-- Name: permissions PK_920331560282b8bd21bb02290df; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT "PK_920331560282b8bd21bb02290df" PRIMARY KEY (id);


--
-- Name: users PK_a3ffb1c0c8416b9fc6f907b7433; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "PK_a3ffb1c0c8416b9fc6f907b7433" PRIMARY KEY (id);


--
-- Name: rrf_approvers PK_c120ea1243fcec051634c73ea47; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rrf_approvers
    ADD CONSTRAINT "PK_c120ea1243fcec051634c73ea47" PRIMARY KEY (id);


--
-- Name: roles PK_c1433d71a4838793a49dcad46ab; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT "PK_c1433d71a4838793a49dcad46ab" PRIMARY KEY (id);


--
-- Name: rrfs PK_eb132eddce151fbe621610ff0c1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rrfs
    ADD CONSTRAINT "PK_eb132eddce151fbe621610ff0c1" PRIMARY KEY (id);


--
-- Name: permissions UQ_0b211b00917290a34b9a3748820; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT "UQ_0b211b00917290a34b9a3748820" UNIQUE (module_id, permission_code);


--
-- Name: rrfs UQ_1715e3cedc1cce8fb5c9e107c07; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rrfs
    ADD CONSTRAINT "UQ_1715e3cedc1cce8fb5c9e107c07" UNIQUE (sub_id);


--
-- Name: role_permissions UQ_25d24010f53bb80b78e412c9656; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT "UQ_25d24010f53bb80b78e412c9656" UNIQUE (role_id, permission_id);


--
-- Name: modules UQ_3369c41e7e5f274b96318c85886; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.modules
    ADD CONSTRAINT "UQ_3369c41e7e5f274b96318c85886" UNIQUE (module_code);


--
-- Name: roles UQ_3feee96f9a604421f24496988db; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT "UQ_3feee96f9a604421f24496988db" UNIQUE (role_code);


--
-- Name: rrfs UQ_687de113dfa174eb7eb0bbadcd9; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rrfs
    ADD CONSTRAINT "UQ_687de113dfa174eb7eb0bbadcd9" UNIQUE (rrf_number);


--
-- Name: users UQ_96aac72f1574b88752e9fb00089; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "UQ_96aac72f1574b88752e9fb00089" UNIQUE (user_id);


--
-- Name: rrf_approvers UQ_975f81577b3256cba051e958a39; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rrf_approvers
    ADD CONSTRAINT "UQ_975f81577b3256cba051e958a39" UNIQUE (rrf_id, user_id, approval_level);


--
-- Name: users UQ_97672ac88f789774dd47f7c8be3; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "UQ_97672ac88f789774dd47f7c8be3" UNIQUE (email);


--
-- Name: roles UQ_ac35f51a0f17e3e1fe121126039; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT "UQ_ac35f51a0f17e3e1fe121126039" UNIQUE (role_name);


--
-- Name: modules UQ_e10bfbd4b8f0bdc8f363ab5757d; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.modules
    ADD CONSTRAINT "UQ_e10bfbd4b8f0bdc8f363ab5757d" UNIQUE (module_name);


--
-- Name: IDX_17022daf3f885f7d35423e9971; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_17022daf3f885f7d35423e9971" ON public.role_permissions USING btree (permission_id);


--
-- Name: IDX_178199805b901ccd220ab7740e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_178199805b901ccd220ab7740e" ON public.role_permissions USING btree (role_id);


--
-- Name: IDX_459fc245e167c800324a5bb36a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_459fc245e167c800324a5bb36a" ON public.rrfs USING btree (created_at);


--
-- Name: IDX_59ac9f6f4dddb2a7e0d8256362; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_59ac9f6f4dddb2a7e0d8256362" ON public.rrfs USING btree (department);


--
-- Name: IDX_5b720c818604a4306fecde8222; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_5b720c818604a4306fecde8222" ON public.rrfs USING btree (created_by_id);


--
-- Name: IDX_67f9ede5c9877307048f957a1c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_67f9ede5c9877307048f957a1c" ON public.permissions USING btree (is_active);


--
-- Name: IDX_687de113dfa174eb7eb0bbadcd; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_687de113dfa174eb7eb0bbadcd" ON public.rrfs USING btree (rrf_number);


--
-- Name: IDX_738f46bb9ac6ea356f1915835d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_738f46bb9ac6ea356f1915835d" ON public.permissions USING btree (module_id);


--
-- Name: IDX_85bb14e7fa31b959dd3fd4306a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_85bb14e7fa31b959dd3fd4306a" ON public.rrf_approvers USING btree (approval_level);


--
-- Name: IDX_8a14ae2c1ed75044312699caff; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_8a14ae2c1ed75044312699caff" ON public.rrf_approvers USING btree (user_id);


--
-- Name: IDX_8aefeda33f88ca68257a856c68; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_8aefeda33f88ca68257a856c68" ON public.rrfs USING btree (status);


--
-- Name: IDX_96aac72f1574b88752e9fb0008; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_96aac72f1574b88752e9fb0008" ON public.users USING btree (user_id);


--
-- Name: IDX_97672ac88f789774dd47f7c8be; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_97672ac88f789774dd47f7c8be" ON public.users USING btree (email);


--
-- Name: IDX_a3f28c93a06ae3f1734ddd09c6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_a3f28c93a06ae3f1734ddd09c6" ON public.rrf_approvers USING btree (rrf_id);


--
-- Name: IDX_d6fdeddc047ab07ab4285ae6af; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_d6fdeddc047ab07ab4285ae6af" ON public.rrf_approvers USING btree (approval_status);


--
-- Name: IDX_e43f81528a1e06ee00e8ff395c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_e43f81528a1e06ee00e8ff395c" ON public.modules USING btree (is_active);


--
-- Name: IDX_e9f58bffa9bdcc402c0438a60c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_e9f58bffa9bdcc402c0438a60c" ON public.roles USING btree (is_active);


--
-- Name: role_permissions FK_17022daf3f885f7d35423e9971e; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT "FK_17022daf3f885f7d35423e9971e" FOREIGN KEY (permission_id) REFERENCES public.permissions(id);


--
-- Name: role_permissions FK_178199805b901ccd220ab7740ec; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT "FK_178199805b901ccd220ab7740ec" FOREIGN KEY (role_id) REFERENCES public.roles(id);


--
-- Name: rrfs FK_4a1168e5216bdae9f3f36654d23; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rrfs
    ADD CONSTRAINT "FK_4a1168e5216bdae9f3f36654d23" FOREIGN KEY (assigned_to_hr_id) REFERENCES public.users(id);


--
-- Name: rrfs FK_5b720c818604a4306fecde82227; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rrfs
    ADD CONSTRAINT "FK_5b720c818604a4306fecde82227" FOREIGN KEY (created_by_id) REFERENCES public.users(id);


--
-- Name: permissions FK_738f46bb9ac6ea356f1915835d0; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT "FK_738f46bb9ac6ea356f1915835d0" FOREIGN KEY (module_id) REFERENCES public.modules(id);


--
-- Name: rrf_approvers FK_8a14ae2c1ed75044312699caff3; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rrf_approvers
    ADD CONSTRAINT "FK_8a14ae2c1ed75044312699caff3" FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: users FK_a2cecd1a3531c0b041e29ba46e1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "FK_a2cecd1a3531c0b041e29ba46e1" FOREIGN KEY (role_id) REFERENCES public.roles(id);


--
-- Name: rrf_approvers FK_a3f28c93a06ae3f1734ddd09c67; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rrf_approvers
    ADD CONSTRAINT "FK_a3f28c93a06ae3f1734ddd09c67" FOREIGN KEY (rrf_id) REFERENCES public.rrfs(id) ON DELETE CASCADE;


--
-- Name: rrfs FK_f573f215762f4950392c23da383; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rrfs
    ADD CONSTRAINT "FK_f573f215762f4950392c23da383" FOREIGN KEY (pmo_verified_by_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict XkqaPfeg3uEiUq2djZNJef8O89SKyehvQGi6CvSaToed8TqWrmr186VxBREBh3x

