--
-- PostgreSQL database dump
--

\restrict bmKHOiLoL1bwdCzA4HQ0Z7CMb7YAjjeA2vwZ423FkPNfUCI6PnU5E55BdXBXmTi

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: rrf_approvers_approval_level_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.rrf_approvers_approval_level_enum AS ENUM (
    'L1',
    'L2',
    'L3',
    'final'
);


ALTER TYPE public.rrf_approvers_approval_level_enum OWNER TO postgres;

--
-- Name: rrf_approvers_approval_status_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.rrf_approvers_approval_status_enum AS ENUM (
    'pending',
    'approved',
    'rejected',
    'skipped'
);


ALTER TYPE public.rrf_approvers_approval_status_enum OWNER TO postgres;

--
-- Name: rrfs_employment_type_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.rrfs_employment_type_enum AS ENUM (
    'Full-time',
    'Contract',
    'Part-time'
);


ALTER TYPE public.rrfs_employment_type_enum OWNER TO postgres;

--
-- Name: rrfs_priority_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.rrfs_priority_enum AS ENUM (
    'High',
    'Medium',
    'Low'
);


ALTER TYPE public.rrfs_priority_enum OWNER TO postgres;

--
-- Name: rrfs_requisition_type_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.rrfs_requisition_type_enum AS ENUM (
    'Billable',
    'Non-Billable'
);


ALTER TYPE public.rrfs_requisition_type_enum OWNER TO postgres;

--
-- Name: rrfs_status_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.rrfs_status_enum AS ENUM (
    'draft',
    'pending',
    'submitted',
    'approved',
    'declined',
    'rejected',
    'on-hold',
    'in-progress',
    'open-for-hiring',
    'closed-by-bench',
    'closed'
);


ALTER TYPE public.rrfs_status_enum OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: functions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.functions (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    is_active boolean DEFAULT true NOT NULL,
    display_order integer DEFAULT 0 NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.functions OWNER TO postgres;

--
-- Name: functions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.functions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.functions_id_seq OWNER TO postgres;

--
-- Name: functions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.functions_id_seq OWNED BY public.functions.id;


--
-- Name: job_descriptions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.job_descriptions (
    id integer NOT NULL,
    title character varying(255) NOT NULL,
    description text NOT NULL,
    "subFunction" character varying,
    created_by_id integer NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.job_descriptions OWNER TO postgres;

--
-- Name: job_descriptions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.job_descriptions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.job_descriptions_id_seq OWNER TO postgres;

--
-- Name: job_descriptions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.job_descriptions_id_seq OWNED BY public.job_descriptions.id;


--
-- Name: modules; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.modules (
    id integer NOT NULL,
    module_name character varying(100) NOT NULL,
    module_code character varying(50) NOT NULL,
    description text,
    parent_module_id integer,
    route_path character varying(255),
    icon character varying(50),
    display_order integer DEFAULT 0 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.modules OWNER TO postgres;

--
-- Name: modules_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.modules_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.modules_id_seq OWNER TO postgres;

--
-- Name: modules_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.modules_id_seq OWNED BY public.modules.id;


--
-- Name: permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.permissions (
    id integer NOT NULL,
    module_id integer NOT NULL,
    permission_name character varying(100) NOT NULL,
    permission_code character varying(50) NOT NULL,
    description text,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.permissions OWNER TO postgres;

--
-- Name: permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.permissions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.permissions_id_seq OWNER TO postgres;

--
-- Name: permissions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.permissions_id_seq OWNED BY public.permissions.id;


--
-- Name: role_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.role_permissions (
    id integer NOT NULL,
    role_id integer NOT NULL,
    permission_id integer NOT NULL,
    granted_at timestamp without time zone DEFAULT now() NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.role_permissions OWNER TO postgres;

--
-- Name: role_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.role_permissions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.role_permissions_id_seq OWNER TO postgres;

--
-- Name: role_permissions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.role_permissions_id_seq OWNED BY public.role_permissions.id;


--
-- Name: roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.roles (
    id integer NOT NULL,
    role_name character varying(50) NOT NULL,
    role_code character varying(20) NOT NULL,
    description text,
    priority integer DEFAULT 0 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.roles OWNER TO postgres;

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.roles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.roles_id_seq OWNER TO postgres;

--
-- Name: roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.roles_id_seq OWNED BY public.roles.id;


--
-- Name: rrf_approvers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rrf_approvers (
    id integer NOT NULL,
    rrf_id integer NOT NULL,
    user_id integer NOT NULL,
    approval_level public.rrf_approvers_approval_level_enum NOT NULL,
    approval_status public.rrf_approvers_approval_status_enum DEFAULT 'pending'::public.rrf_approvers_approval_status_enum NOT NULL,
    approval_order integer DEFAULT 1 NOT NULL,
    comments text,
    approved_at timestamp without time zone,
    rejected_at timestamp without time zone,
    is_mandatory boolean DEFAULT true NOT NULL,
    assigned_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.rrf_approvers OWNER TO postgres;

--
-- Name: rrf_approvers_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.rrf_approvers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.rrf_approvers_id_seq OWNER TO postgres;

--
-- Name: rrf_approvers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.rrf_approvers_id_seq OWNED BY public.rrf_approvers.id;


--
-- Name: rrf_form_configs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rrf_form_configs (
    id integer NOT NULL,
    field_name character varying(50) NOT NULL,
    field_label character varying(100) NOT NULL,
    field_options jsonb NOT NULL,
    field_type character varying(50) DEFAULT 'dropdown'::character varying NOT NULL,
    is_required boolean DEFAULT false NOT NULL,
    step integer DEFAULT 1 NOT NULL,
    section character varying(100) DEFAULT 'General'::character varying NOT NULL,
    display_order integer DEFAULT 0 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.rrf_form_configs OWNER TO postgres;

--
-- Name: rrf_form_configs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.rrf_form_configs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.rrf_form_configs_id_seq OWNER TO postgres;

--
-- Name: rrf_form_configs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.rrf_form_configs_id_seq OWNED BY public.rrf_form_configs.id;


--
-- Name: rrf_number_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.rrf_number_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.rrf_number_seq OWNER TO postgres;

--
-- Name: rrf_sub_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.rrf_sub_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.rrf_sub_id_seq OWNER TO postgres;

--
-- Name: rrfs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rrfs (
    id integer NOT NULL,
    sub_id character varying(20),
    rrf_number character varying(20),
    position_title character varying(200) NOT NULL,
    department character varying(100),
    entity character varying(100),
    organisation character varying(100),
    requisition_type public.rrfs_requisition_type_enum,
    customer_name character varying(200),
    non_billable_sub_type character varying(50),
    function character varying(100),
    sub_function character varying(100),
    project_name character varying(200),
    headcount integer DEFAULT 1 NOT NULL,
    priority public.rrfs_priority_enum DEFAULT 'Medium'::public.rrfs_priority_enum NOT NULL,
    status public.rrfs_status_enum DEFAULT 'draft'::public.rrfs_status_enum NOT NULL,
    job_description text,
    required_skills text,
    preferred_skills text,
    technologies text,
    experience_min numeric(3,1),
    experience_max numeric(3,1),
    budget_min numeric(12,2),
    budget_max numeric(12,2),
    position_type character varying(50),
    work_mode character varying(50),
    employment_type public.rrfs_employment_type_enum DEFAULT 'Full-time'::public.rrfs_employment_type_enum NOT NULL,
    location character varying(200),
    urgency_reason text,
    created_by_id integer NOT NULL,
    pmo_verified_by_id integer,
    assigned_to_hr_id integer,
    submitted_at timestamp without time zone,
    approved_at timestamp without time zone,
    sent_to_hr_at timestamp without time zone,
    approved_by_id integer,
    rejected_at timestamp without time zone,
    declined_at timestamp without time zone,
    declined_by_id integer,
    decline_reason text,
    closed_at timestamp without time zone,
    closed_by_id integer,
    candidate_name character varying(255),
    joining_date timestamp without time zone,
    closure_status character varying(255),
    internal_rrf_no character varying(50),
    notes text,
    status_history jsonb DEFAULT '[]'::jsonb,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    last_edited_by_id integer,
    last_edited_by_role character varying(50),
    last_edited_at timestamp without time zone,
    billing_rate numeric(10,2),
    billing_currency character varying(10),
    billing_start_date timestamp without time zone,
    expected_onboarding_date timestamp without time zone,
    subfunction_id integer,
    interview_panel jsonb DEFAULT '[]'::jsonb,
    close_reason character varying(50)
);


ALTER TABLE public.rrfs OWNER TO postgres;

--
-- Name: rrfs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.rrfs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.rrfs_id_seq OWNER TO postgres;

--
-- Name: rrfs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.rrfs_id_seq OWNED BY public.rrfs.id;


--
-- Name: subfunctions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.subfunctions (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    function character varying(100),
    description text,
    is_active boolean DEFAULT true NOT NULL,
    display_order integer DEFAULT 0 NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    function_id integer
);


ALTER TABLE public.subfunctions OWNER TO postgres;

--
-- Name: subfunctions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.subfunctions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.subfunctions_id_seq OWNER TO postgres;

--
-- Name: subfunctions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.subfunctions_id_seq OWNED BY public.subfunctions.id;


--
-- Name: typeorm_cache; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.typeorm_cache (
    id integer NOT NULL,
    identifier character varying,
    "time" bigint NOT NULL,
    duration integer NOT NULL,
    query text NOT NULL,
    result text NOT NULL
);


ALTER TABLE public.typeorm_cache OWNER TO postgres;

--
-- Name: typeorm_cache_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.typeorm_cache_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.typeorm_cache_id_seq OWNER TO postgres;

--
-- Name: typeorm_cache_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.typeorm_cache_id_seq OWNED BY public.typeorm_cache.id;


--
-- Name: typeorm_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.typeorm_migrations (
    id integer NOT NULL,
    "timestamp" bigint NOT NULL,
    name character varying NOT NULL
);


ALTER TABLE public.typeorm_migrations OWNER TO postgres;

--
-- Name: typeorm_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.typeorm_migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.typeorm_migrations_id_seq OWNER TO postgres;

--
-- Name: typeorm_migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.typeorm_migrations_id_seq OWNED BY public.typeorm_migrations.id;


--
-- Name: user_subfunctions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_subfunctions (
    id integer NOT NULL,
    user_id integer NOT NULL,
    subfunction_id integer NOT NULL,
    assigned_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.user_subfunctions OWNER TO postgres;

--
-- Name: user_subfunctions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_subfunctions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.user_subfunctions_id_seq OWNER TO postgres;

--
-- Name: user_subfunctions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_subfunctions_id_seq OWNED BY public.user_subfunctions.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    user_id character varying(50) NOT NULL,
    email character varying(100) NOT NULL,
    password_hash character varying(255) NOT NULL,
    full_name character varying(100) NOT NULL,
    department character varying(100),
    phone character varying(20),
    is_active boolean DEFAULT true NOT NULL,
    last_login timestamp without time zone,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    role_id integer,
    technologies jsonb DEFAULT '[]'::jsonb
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: functions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.functions ALTER COLUMN id SET DEFAULT nextval('public.functions_id_seq'::regclass);


--
-- Name: job_descriptions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_descriptions ALTER COLUMN id SET DEFAULT nextval('public.job_descriptions_id_seq'::regclass);


--
-- Name: modules id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.modules ALTER COLUMN id SET DEFAULT nextval('public.modules_id_seq'::regclass);


--
-- Name: permissions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permissions ALTER COLUMN id SET DEFAULT nextval('public.permissions_id_seq'::regclass);


--
-- Name: role_permissions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role_permissions ALTER COLUMN id SET DEFAULT nextval('public.role_permissions_id_seq'::regclass);


--
-- Name: roles id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles ALTER COLUMN id SET DEFAULT nextval('public.roles_id_seq'::regclass);


--
-- Name: rrf_approvers id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rrf_approvers ALTER COLUMN id SET DEFAULT nextval('public.rrf_approvers_id_seq'::regclass);


--
-- Name: rrf_form_configs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rrf_form_configs ALTER COLUMN id SET DEFAULT nextval('public.rrf_form_configs_id_seq'::regclass);


--
-- Name: rrfs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rrfs ALTER COLUMN id SET DEFAULT nextval('public.rrfs_id_seq'::regclass);


--
-- Name: subfunctions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subfunctions ALTER COLUMN id SET DEFAULT nextval('public.subfunctions_id_seq'::regclass);


--
-- Name: typeorm_cache id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.typeorm_cache ALTER COLUMN id SET DEFAULT nextval('public.typeorm_cache_id_seq'::regclass);


--
-- Name: typeorm_migrations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.typeorm_migrations ALTER COLUMN id SET DEFAULT nextval('public.typeorm_migrations_id_seq'::regclass);


--
-- Name: user_subfunctions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_subfunctions ALTER COLUMN id SET DEFAULT nextval('public.user_subfunctions_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: functions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.functions (id, name, description, is_active, display_order, created_at, updated_at) FROM stdin;
1	Delivery	Delivery Department	t	1	2026-04-21 14:49:07.657402	2026-04-21 14:49:07.657402
2	Sales	Sales and Marketing	t	2	2026-04-21 14:49:07.664964	2026-04-21 14:49:07.664964
3	Support	Support and Operations	t	3	2026-04-21 14:49:07.669956	2026-04-21 14:49:07.669956
\.


--
-- Data for Name: job_descriptions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: modules; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: role_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: rrf_approvers; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: rrf_form_configs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: rrfs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: subfunctions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: typeorm_cache; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.typeorm_cache (id, identifier, "time", duration, query, result) FROM stdin;
\.


--
-- Data for Name: typeorm_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.typeorm_migrations (id, "timestamp", name) FROM stdin;
1	1776781548847	InitialSchema1776781548847
\.


--
-- Data for Name: user_subfunctions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_subfunctions (id, user_id, subfunction_id, assigned_at) FROM stdin;
3	3	2	2026-04-23 14:38:43.857044
4	3	5	2026-04-23 14:38:43.857044
5	7	11	2026-04-26 12:09:36.06154
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: functions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.functions_id_seq', 3, true);


--
-- Name: job_descriptions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.job_descriptions_id_seq', 8, true);


--
-- Name: modules_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.modules_id_seq', 7, true);


--
-- Name: permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.permissions_id_seq', 21, true);


--
-- Name: role_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.role_permissions_id_seq', 122, true);


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.roles_id_seq', 5, true);


--
-- Name: rrf_approvers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.rrf_approvers_id_seq', 18, true);


--
-- Name: rrf_form_configs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.rrf_form_configs_id_seq', 21, true);


--
-- Name: rrf_number_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.rrf_number_seq', 8, true);


--
-- Name: rrf_sub_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.rrf_sub_id_seq', 14, true);


--
-- Name: rrfs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.rrfs_id_seq', 19, true);


--
-- Name: subfunctions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.subfunctions_id_seq', 11, true);


--
-- Name: typeorm_cache_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.typeorm_cache_id_seq', 1, false);


--
-- Name: typeorm_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.typeorm_migrations_id_seq', 1, true);


--
-- Name: user_subfunctions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_subfunctions_id_seq', 5, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 7, true);


--
-- Name: functions PK_203889d2ae5a98ffc137739301e; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.functions
    ADD CONSTRAINT "PK_203889d2ae5a98ffc137739301e" PRIMARY KEY (id);


--
-- Name: typeorm_cache PK_76af4d1d6fb893fa7e8dd100878; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.typeorm_cache
    ADD CONSTRAINT "PK_76af4d1d6fb893fa7e8dd100878" PRIMARY KEY (id);


--
-- Name: modules PK_7dbefd488bd96c5bf31f0ce0c95; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.modules
    ADD CONSTRAINT "PK_7dbefd488bd96c5bf31f0ce0c95" PRIMARY KEY (id);


--
-- Name: role_permissions PK_84059017c90bfcb701b8fa42297; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT "PK_84059017c90bfcb701b8fa42297" PRIMARY KEY (id);


--
-- Name: permissions PK_920331560282b8bd21bb02290df; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT "PK_920331560282b8bd21bb02290df" PRIMARY KEY (id);


--
-- Name: users PK_a3ffb1c0c8416b9fc6f907b7433; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "PK_a3ffb1c0c8416b9fc6f907b7433" PRIMARY KEY (id);


--
-- Name: typeorm_migrations PK_bb2f075707dd300ba86d0208923; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.typeorm_migrations
    ADD CONSTRAINT "PK_bb2f075707dd300ba86d0208923" PRIMARY KEY (id);


--
-- Name: rrf_approvers PK_c120ea1243fcec051634c73ea47; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rrf_approvers
    ADD CONSTRAINT "PK_c120ea1243fcec051634c73ea47" PRIMARY KEY (id);


--
-- Name: roles PK_c1433d71a4838793a49dcad46ab; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT "PK_c1433d71a4838793a49dcad46ab" PRIMARY KEY (id);


--
-- Name: user_subfunctions PK_c640bfcb9a074f93cf380e31408; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_subfunctions
    ADD CONSTRAINT "PK_c640bfcb9a074f93cf380e31408" PRIMARY KEY (id);


--
-- Name: subfunctions PK_d203978866ba6bc946b0556123a; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subfunctions
    ADD CONSTRAINT "PK_d203978866ba6bc946b0556123a" PRIMARY KEY (id);


--
-- Name: job_descriptions PK_e5e847b0af4a4d33cee0ae1b04b; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_descriptions
    ADD CONSTRAINT "PK_e5e847b0af4a4d33cee0ae1b04b" PRIMARY KEY (id);


--
-- Name: rrf_form_configs PK_e6c44a3d7037c4abf57e651b049; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rrf_form_configs
    ADD CONSTRAINT "PK_e6c44a3d7037c4abf57e651b049" PRIMARY KEY (id);


--
-- Name: rrfs PK_eb132eddce151fbe621610ff0c1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rrfs
    ADD CONSTRAINT "PK_eb132eddce151fbe621610ff0c1" PRIMARY KEY (id);


--
-- Name: permissions UQ_0b211b00917290a34b9a3748820; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT "UQ_0b211b00917290a34b9a3748820" UNIQUE (module_id, permission_code);


--
-- Name: rrfs UQ_1715e3cedc1cce8fb5c9e107c07; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rrfs
    ADD CONSTRAINT "UQ_1715e3cedc1cce8fb5c9e107c07" UNIQUE (sub_id);


--
-- Name: role_permissions UQ_25d24010f53bb80b78e412c9656; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT "UQ_25d24010f53bb80b78e412c9656" UNIQUE (role_id, permission_id);


--
-- Name: modules UQ_3369c41e7e5f274b96318c85886; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.modules
    ADD CONSTRAINT "UQ_3369c41e7e5f274b96318c85886" UNIQUE (module_code);


--
-- Name: roles UQ_3feee96f9a604421f24496988db; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT "UQ_3feee96f9a604421f24496988db" UNIQUE (role_code);


--
-- Name: rrfs UQ_687de113dfa174eb7eb0bbadcd9; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rrfs
    ADD CONSTRAINT "UQ_687de113dfa174eb7eb0bbadcd9" UNIQUE (rrf_number);


--
-- Name: users UQ_96aac72f1574b88752e9fb00089; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "UQ_96aac72f1574b88752e9fb00089" UNIQUE (user_id);


--
-- Name: rrf_approvers UQ_975f81577b3256cba051e958a39; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rrf_approvers
    ADD CONSTRAINT "UQ_975f81577b3256cba051e958a39" UNIQUE (rrf_id, user_id, approval_level);


--
-- Name: users UQ_97672ac88f789774dd47f7c8be3; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "UQ_97672ac88f789774dd47f7c8be3" UNIQUE (email);


--
-- Name: rrfs UQ_a1b760d341d66e3fc185002c55b; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rrfs
    ADD CONSTRAINT "UQ_a1b760d341d66e3fc185002c55b" UNIQUE (internal_rrf_no);


--
-- Name: subfunctions UQ_a54aa2d3a270fd0f98f3c97dab0; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subfunctions
    ADD CONSTRAINT "UQ_a54aa2d3a270fd0f98f3c97dab0" UNIQUE (name);


--
-- Name: roles UQ_ac35f51a0f17e3e1fe121126039; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT "UQ_ac35f51a0f17e3e1fe121126039" UNIQUE (role_name);


--
-- Name: functions UQ_c16b68177fcec6e85aa50922972; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.functions
    ADD CONSTRAINT "UQ_c16b68177fcec6e85aa50922972" UNIQUE (name);


--
-- Name: rrf_form_configs UQ_c96be0bb0b1bf93b346554ffece; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rrf_form_configs
    ADD CONSTRAINT "UQ_c96be0bb0b1bf93b346554ffece" UNIQUE (field_name);


--
-- Name: modules UQ_e10bfbd4b8f0bdc8f363ab5757d; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.modules
    ADD CONSTRAINT "UQ_e10bfbd4b8f0bdc8f363ab5757d" UNIQUE (module_name);


--
-- Name: IDX_1147eb1ef07045a3a101be3387; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_1147eb1ef07045a3a101be3387" ON public.functions USING btree (is_active);


--
-- Name: IDX_17022daf3f885f7d35423e9971; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_17022daf3f885f7d35423e9971" ON public.role_permissions USING btree (permission_id);


--
-- Name: IDX_178199805b901ccd220ab7740e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_178199805b901ccd220ab7740e" ON public.role_permissions USING btree (role_id);


--
-- Name: IDX_459fc245e167c800324a5bb36a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_459fc245e167c800324a5bb36a" ON public.rrfs USING btree (created_at);


--
-- Name: IDX_4f847c57eeb8288767f60338e9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_4f847c57eeb8288767f60338e9" ON public.job_descriptions USING btree (created_by_id);


--
-- Name: IDX_59ac9f6f4dddb2a7e0d8256362; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_59ac9f6f4dddb2a7e0d8256362" ON public.rrfs USING btree (department);


--
-- Name: IDX_59c998f8d67552f64662232991; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_59c998f8d67552f64662232991" ON public.rrfs USING btree (subfunction_id);


--
-- Name: IDX_5b720c818604a4306fecde8222; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_5b720c818604a4306fecde8222" ON public.rrfs USING btree (created_by_id);


--
-- Name: IDX_6029819758d61bbf818145af66; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IDX_6029819758d61bbf818145af66" ON public.user_subfunctions USING btree (user_id, subfunction_id);


--
-- Name: IDX_67e31a5d8576bccddc2eda7a54; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_67e31a5d8576bccddc2eda7a54" ON public.job_descriptions USING btree ("subFunction");


--
-- Name: IDX_67f9ede5c9877307048f957a1c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_67f9ede5c9877307048f957a1c" ON public.permissions USING btree (is_active);


--
-- Name: IDX_687de113dfa174eb7eb0bbadcd; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_687de113dfa174eb7eb0bbadcd" ON public.rrfs USING btree (rrf_number);


--
-- Name: IDX_73042c93d370ce45baa49df822; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_73042c93d370ce45baa49df822" ON public.job_descriptions USING btree (title);


--
-- Name: IDX_738f46bb9ac6ea356f1915835d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_738f46bb9ac6ea356f1915835d" ON public.permissions USING btree (module_id);


--
-- Name: IDX_85bb14e7fa31b959dd3fd4306a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_85bb14e7fa31b959dd3fd4306a" ON public.rrf_approvers USING btree (approval_level);


--
-- Name: IDX_8a14ae2c1ed75044312699caff; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_8a14ae2c1ed75044312699caff" ON public.rrf_approvers USING btree (user_id);


--
-- Name: IDX_8aefeda33f88ca68257a856c68; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_8aefeda33f88ca68257a856c68" ON public.rrfs USING btree (status);


--
-- Name: IDX_96aac72f1574b88752e9fb0008; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_96aac72f1574b88752e9fb0008" ON public.users USING btree (user_id);


--
-- Name: IDX_97672ac88f789774dd47f7c8be; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_97672ac88f789774dd47f7c8be" ON public.users USING btree (email);


--
-- Name: IDX_97b67915147e12eab17f99148f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_97b67915147e12eab17f99148f" ON public.subfunctions USING btree (is_active);


--
-- Name: IDX_a3f28c93a06ae3f1734ddd09c6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_a3f28c93a06ae3f1734ddd09c6" ON public.rrf_approvers USING btree (rrf_id);


--
-- Name: IDX_a54aa2d3a270fd0f98f3c97dab; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IDX_a54aa2d3a270fd0f98f3c97dab" ON public.subfunctions USING btree (name);


--
-- Name: IDX_c16b68177fcec6e85aa5092297; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IDX_c16b68177fcec6e85aa5092297" ON public.functions USING btree (name);


--
-- Name: IDX_d6fdeddc047ab07ab4285ae6af; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_d6fdeddc047ab07ab4285ae6af" ON public.rrf_approvers USING btree (approval_status);


--
-- Name: IDX_e43f81528a1e06ee00e8ff395c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_e43f81528a1e06ee00e8ff395c" ON public.modules USING btree (is_active);


--
-- Name: IDX_e9f58bffa9bdcc402c0438a60c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_e9f58bffa9bdcc402c0438a60c" ON public.roles USING btree (is_active);


--
-- Name: user_subfunctions FK_164e19cdec774f64dec62e68ceb; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_subfunctions
    ADD CONSTRAINT "FK_164e19cdec774f64dec62e68ceb" FOREIGN KEY (subfunction_id) REFERENCES public.subfunctions(id) ON DELETE CASCADE;


--
-- Name: role_permissions FK_17022daf3f885f7d35423e9971e; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT "FK_17022daf3f885f7d35423e9971e" FOREIGN KEY (permission_id) REFERENCES public.permissions(id);


--
-- Name: role_permissions FK_178199805b901ccd220ab7740ec; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT "FK_178199805b901ccd220ab7740ec" FOREIGN KEY (role_id) REFERENCES public.roles(id);


--
-- Name: user_subfunctions FK_3ca20f2d952532dba0ffa22b0e0; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_subfunctions
    ADD CONSTRAINT "FK_3ca20f2d952532dba0ffa22b0e0" FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: rrfs FK_4a1168e5216bdae9f3f36654d23; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rrfs
    ADD CONSTRAINT "FK_4a1168e5216bdae9f3f36654d23" FOREIGN KEY (assigned_to_hr_id) REFERENCES public.users(id);


--
-- Name: job_descriptions FK_4f847c57eeb8288767f60338e9a; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_descriptions
    ADD CONSTRAINT "FK_4f847c57eeb8288767f60338e9a" FOREIGN KEY (created_by_id) REFERENCES public.users(id);


--
-- Name: rrfs FK_59c998f8d67552f64662232991f; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rrfs
    ADD CONSTRAINT "FK_59c998f8d67552f64662232991f" FOREIGN KEY (subfunction_id) REFERENCES public.subfunctions(id);


--
-- Name: rrfs FK_5b720c818604a4306fecde82227; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rrfs
    ADD CONSTRAINT "FK_5b720c818604a4306fecde82227" FOREIGN KEY (created_by_id) REFERENCES public.users(id);


--
-- Name: permissions FK_738f46bb9ac6ea356f1915835d0; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT "FK_738f46bb9ac6ea356f1915835d0" FOREIGN KEY (module_id) REFERENCES public.modules(id);


--
-- Name: rrf_approvers FK_8a14ae2c1ed75044312699caff3; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rrf_approvers
    ADD CONSTRAINT "FK_8a14ae2c1ed75044312699caff3" FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: users FK_a2cecd1a3531c0b041e29ba46e1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "FK_a2cecd1a3531c0b041e29ba46e1" FOREIGN KEY (role_id) REFERENCES public.roles(id);


--
-- Name: rrf_approvers FK_a3f28c93a06ae3f1734ddd09c67; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rrf_approvers
    ADD CONSTRAINT "FK_a3f28c93a06ae3f1734ddd09c67" FOREIGN KEY (rrf_id) REFERENCES public.rrfs(id) ON DELETE CASCADE;


--
-- Name: rrfs FK_a91cf161f21d745a11d8df547a7; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rrfs
    ADD CONSTRAINT "FK_a91cf161f21d745a11d8df547a7" FOREIGN KEY (declined_by_id) REFERENCES public.users(id);


--
-- Name: rrfs FK_c0d9a86f03618f536910434b75e; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rrfs
    ADD CONSTRAINT "FK_c0d9a86f03618f536910434b75e" FOREIGN KEY (last_edited_by_id) REFERENCES public.users(id);


--
-- Name: rrfs FK_d6aab671106c842f439c33f5acc; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rrfs
    ADD CONSTRAINT "FK_d6aab671106c842f439c33f5acc" FOREIGN KEY (closed_by_id) REFERENCES public.users(id);


--
-- Name: rrfs FK_f573f215762f4950392c23da383; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rrfs
    ADD CONSTRAINT "FK_f573f215762f4950392c23da383" FOREIGN KEY (pmo_verified_by_id) REFERENCES public.users(id);


--
-- Name: rrfs FK_f7a66459bd29f220f28fafe87c5; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rrfs
    ADD CONSTRAINT "FK_f7a66459bd29f220f28fafe87c5" FOREIGN KEY (approved_by_id) REFERENCES public.users(id);


--
-- Name: subfunctions FK_f8fe389a9041f937ef5e35447cf; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subfunctions
    ADD CONSTRAINT "FK_f8fe389a9041f937ef5e35447cf" FOREIGN KEY (function_id) REFERENCES public.functions(id);


--
-- PostgreSQL database dump complete
--

\unrestrict bmKHOiLoL1bwdCzA4HQ0Z7CMb7YAjjeA2vwZ423FkPNfUCI6PnU5E55BdXBXmTi

